* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: white;
    min-width: 1000px;
    min-height: 800px;
}

header {
    background-color: #700000;
    width: 100%;
    height: 199px;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
}
header h1 {
    letter-spacing: -10px;
    line-height:170px;
}
header p {
    font-size: 29px;
    letter-spacing: -2px;
    line-height: 29px;
}

.main {
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #700000;
    height: 759px;
}

.player-list {
    width: 20%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.football-pitch {
    width: 54.9%;
    float: left;
    padding: 15px;
    background-image: url("../image/football-pitch.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 710px;
}

.user-picks {
    width: 20%;
    float: right;
    padding: 15px;
    border: 1px solid red;
}

footer {
    background-color: #700000;
    width: 100%;
    height: 29px;
    text-align: center;
    vertical-align: middle;
    line-height: 29px;
}